/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    position: absolute;
    top: 5%;
}

.results-not-found{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.results-not-found p {
    text-align: center;
}

.nav {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}